.img-fluid {
  scale: 150%;
}

ul {
  list-style-type: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}

.TemperatureMax {
  font-weight: 300;
}

.WeatherTemperature {
  font-size: 32px;
  color: black;
  font-weight: 500;
}

.TemperatureIcon {
  scale: 90%;
}
.WeatherTemperature {
  font-size: 48px;
  margin-top: -40px;
}

.superscript {
  vertical-align: super;
  font-size: 24px;
}

.col-4 {
  text-align: center;
}

.row {
  margin-top: 5px;
  margin-bottom: 15px;
}

.WeatherForecast-day {
  text-align: center;
}
